@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

@media (min-width: 576px){
  .masthead {
      min-height: 400px;
} 
}
@media (min-width: 768px) {
  .masthead {
      min-height:500px;
}
}
@media (min-width: 992px) {
  .masthead {
      min-height:600px;
}
}
@media (min-width: 1200px) {
  .masthead {
      min-height:720px;
}
}
@media (min-width: 1400px) {
  .masthead {
      min-height: 850px;
}
} 

body {
  min-height: 75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

header.masthead {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  flex-direction: column;;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url(../img/header-bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top:60px;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-top:2.5rem;
  margin-bottom: 25px;
}

.masthead-heading {
  font-size: 3rem;

  margin-bottom:25px;
}

header .btn {
  width:10rem;
}