@import "_nav.scss";

.page-section{
    padding-top: 60px;
}

.section-heading{
    font-weight:bold;
}
.section-subheading{
    font-size:1rem ;
}


#recipes {
    margin-bottom: -30px;
    .section-heading{
        margin-top:2rem;
        font-weight:bold;
    }
    
    .section-subheading{
     font-size: 1.2rem;
	 font-style: italic;
    }

    img{
		max-height:200px;
		max-width: 300px;
        border:2px solid Grey;
    }

    .card{
        border:none;
    }

    .card-body{
        text-align: center;
    
	h4{
    	font-weight: 500px;;
        }
    }
}

#recipes-categories{
	img{
		max-height:200px;
		max-width: 300px;
        border-radius: 15%;
        border:1px solid black;
	}
	.card{
		border:none;
	}
	
}

#cuisines{

    img {
        width: 250px;
        height:165px;
        border: 2px solid white;
    }

	.card{
		border:none;
	}
    a{
        text-decoration: none;
        color:black;
    }
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
  }
  .team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  
  .btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}

#contact {
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;

    .section-heading {
        color: #fff;
        margin-top: 40px;
    } 
    .section-subheading {
        margin-bottom: 40px;
        margin-top: 30px;
        font-style: italic;
        color:#f5f5f5;
    }
 
    .form-group{
        margin-top: 1rem;
    }
    
    input{
        min-height:60px;
    }

    textarea{
        min-height:210px;
    }
    
    button{
        margin-bottom:60px;
        margin-top: 20px;
    }
}
